input_examples/*
# ignore all pycache files
__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
D*.md
output/*
*.sh
.vscode/launch.json
out*
P*.md
src/alphafold3/constants/converters/ccd.pickle
src/alphafold3/constants/converters/chemical_component_sets.pickle
.devcontainer/docker-compose.yml
.devcontainer/devcontainer.json
.devcontainer/README.md
docker/dev/Dockerfile.dev
src/alphafold3/design/binder_design.old.py
